/*NOTES
1) Go to color picker to find colors in an image
2) Choose horizontal images for cover photos
3) To tint a background image, do background-image: Tinting the background image
  linear-gradient(rgba(239,25,4,.05),rgba(239,25,4,.05)),*/

/*HOME PAGE */
/*Use hover over article and change tint*/
/*Make a table of contents*/
/*Do I want the nav bar to stay fixed so that it travels with the scrolling?*/
/*Z index could come in handy*/
/*What does border-box do?
/* Javascript transition effects.*
/*Usage of negative margins to go outside of container is helpful */
/*Inserting a search bar at the top of the page?*/
/*Margins and negative margins make the actual container bigger or smaller */
/*experimenting with line height */
/*asides*/
/*Make all images equally sized in photoshop*/
/*might need to make media queries for scaling the background image */
/*Add space for a comment box? Refer to Woven website*/
/*isolate quotes to be picked out of each blog post*/
/*need more color */

/*MAKE NEW POST PAGE TO-DO*/
/*1) Make input for a pull-quote
2) Title input
3) Body input
4) Automatic date/time assign to article
5) Input photos */

#index {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    margin: 0px;     /*margin 0 px and padding 0px are how I got rid of the space around the nav bar */
}

.container {
    border-top: 30px solid white;
    background-image:
      url(https://paolabottomley.files.wordpress.com/2012/12/hands-on-the-pianos-keys1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; /*Keeps background image scaling appropriately.*/ /*alternatively can change this to background: contain; --MAY NEED TO CHANGE THIS FOR MOBILE/TABLET responsiveness */
    height: 700px; /*THIS WAS THE KEY. CREATING A FIXED HEIGHT TO THE BACKGROUND IMAGE. Creating a seperate container was also important. */
    margin: 0px;
    padding: 0px;
}

.post_text {
    float: left;
    padding-left: 3%;
    padding-bottom: 5%;
}

.page_summary {
    background: white;
    color: black;
    height: 100px;
    font-weight: bold;
    font-family:'Cardo', serif;
}

.pull_quote {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}
.post_text p {
    padding-bottom: 0;
    letter-spacing: inherit;
    line-height: 1.75em;
    color: black;
    font-family: 'Cardo', serif;
}

.post_text h1 {
    padding-top: 5%;
    padding-bottom: 0;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 2em;
}

.post_text h2 {
    font-family: 'Cardo', serif;
    padding-bottom: 5%;
    color: rgb(180,232,231);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 16px;
}

.firstcharacter {
  float: left;
  color: rgb(180,232,231);
  font-size: 75px;
  line-height: 50px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/*Blog Posts */
.blogposts_container {
    background: #e8e8e8;
    /*max-width: 3000px; /*got rid of extra space on the right*/
    float: left;
    padding-top: 7%;
    padding-left: 1%;
}

#index .title {
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .3em;
    padding-bottom: 7%;
}
img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#post .post_image {
    float: right;
    max-width: 50%;
}

#index h1 {
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    padding-bottom: 0;
}

#index h1, h2, p {
    padding-left: 4%;
    padding-right: 4%;
}

#index article {
    width: 45%;
    float: left;
    letter-spacing: normal;
    background: white;
    background-clip: content-box, padding-box; /*Magic!!! This made background color apply to the padding */
    height: 100%;
    padding-bottom: 3%;
    padding-left: 3%;
}

#index p {
    font-size: 14px;
    letter-spacing: .05em;
    color: black;
    padding-bottom: 3%;
    padding-top: 0;
}

a, a:visited {
    text-decoration: none; /*these two properties make the link stay the same color after it has been visited */
    color: inherit;
}

/*ALL NAV BARS*/
nav ul {
    list-style: none; /*gets rid of bullet points */
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

nav {
    position: static;
    color: white;
}

/*UPPER NAV BAR */
#upper_nav {
    font-size: 30px;
    padding-top: 3%;
    padding-bottom: 1%;
}
#upper_nav ul li{
    width: 100%;
    letter-spacing: .8em;
}

/*MIDDLE NAV BAR */
#mid_nav {
    font-size: 70%;
    text-transform: lowercase;
    letter-spacing: .3em;
    padding-bottom: 2%;
}

/*LOWER NAV BAR */

#lower_nav ul {
	width: 100%;
    display: inline;
}

#lower_nav ul li {
    float: left;
    font-size: 1em;
    letter-spacing: .8em;
    width: 33.333333%;
    /*background-color:rgba(255, 0, 0, .5); */
}

#lower_nav ul li a {
    display: block;
    padding-top: 3%;
    padding-bottom: 7%;
    text-decoration: none;
    /*-o-transition: 1s; /*These properties make the hover fade in and out
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s; */
}

article:hover {
    background: rgba(178, 39, 69, .15);
    background-clip: content-box, padding-box; /*Yay!!!! This is a really helpful trick*/
}
